body {
  padding-top: 20px;
}

.currentTime {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

footer {
  font-size: 22px;
  font-family: monospace;
  font-weight: bold;
  position: fixed;
  bottom: 10px;
  width: 100%;
  left: 0;
  padding: 10px;
  background-color: #c5f0a4;
  color: #017bfe;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button {
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #007bff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

img {
  width: 100px;
}

a:visited {
  color: #017bfe;
}

button:hover {
  cursor: pointer;
}

#submit {
  color: #fff;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #00cc00;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header {
  font-size: 60px;
  font-family: "DynaPuff", cursive;
  color: #ff8b00;
  padding-top: 50px;
  padding-bottom: 20px;
  text-shadow: 0px 8px 13px rgba(0, 0, 0, 0.1);
}

.currentCity {
  font-family: "Roboto Mono", monospace;
  /* font-family: "DynaPuff", cursive; */
  color: #232d37;
  font-size: 50px;
  text-shadow: 0px 8px 13px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 30px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.currentTemp {
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
}

#time-col {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

#weather-col {
  font-family: "Roboto Mono", monospace;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 30px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

#icon-col {
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}
/* .humidity {
  font-family: "Roboto Mono", monospace;
}
.weather {
  font-family: "Roboto Mono", monospace;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} */

.about {
  position: fixed;
  top: 30px;
  left: 10px;
  background-color: #ffffff;
}

.about-info {
  font-size: 22px;
  font-family: "Roboto Mono", monospace;
  color: blue;
  margin: 40px 35px;
  border-radius: 20px;
}

.emoji {
  font-family: "DynaPuff", cursive;
  font-size: 80px;
  color: #232d37;
  display: inline-block;
  text-shadow: 0px 8px 13px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: #f4eeff;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-inline {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.city {
  margin: 40px 35px;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.days {
  font-size: 40px;
  font-family: "Roboto Mono", monospace;
  margin: 40px 35px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.emoji-container {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 30px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.row-container {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  padding: 10px;
  margin: 40px 35px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.row-container-date {
  font-size: 20px;
}

#search-col {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 0px 20px 0px;
}

.box {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  margin: 40px 35px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.row {
  margin: 20px 30px;
}
